


<div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-2">
    <div class="u-layout">
        <div class="u-layout-col">
            <div class="u-align-center u-container-style u-layout-cell u-palette-5-dark-3 u-size-30 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-21">
                   
                        <h3 id="hastanetam"class="u-text u-text-70"> ....</h3>

                        <p id="hastaneadres" class="u-text u-text-71">.... </p>

                        <p class="u-align-left u-text u-text-72">Hasta​ :&nbsp;</p>
                        <p id="adsoyad" class="u-align-left u-text u-text-73"></p>

                        <p class="u-align-left u-text u-text-default u-text-74">Bağış Türü​ :&nbsp;</p>
                        <p id ="tur" class="u-align-left u-text u-text-default u-text-75">.....</p>

                        <p class="u-align-left u-text u-text-default u-text-76">Miktar : </p>
                        <p id="ihtiyacmiktar"class="u-align-left u-text u-text-default u-text-77">.....</p>

                        <p class="u-align-left u-text u-text-default u-text-78">En Geç Ulaşılması Gereken Saat : </p>
                        <p id="" class="u-align-left u-text u-text-default u-text-79">.....</p>

                        <p class="u-align-left u-text u-text-default u-text-80">Bildirimin Gönderilme Saati : </p>
                        <p id="bildirimsaat" class="u-align-left u-text u-text-default u-text-81">.....</p>
                </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
                <div class="u-container-layout u-container-layout-22">
                    <div class="u-expanded u-grey-light-2 u-map u-map-2">
                        <div class="embed-responsive">
                            <iframe class="embed-responsive-item"
                                    src="https://maps.google.com/maps?output=embed&amp;q=Selimiye%2C%20T%C4%B1bbiye%20Cd%20No%3A25%2C%2034668%20%C3%9Csk%C3%BCdar%2F%C4%B0stanbul&amp;z=15&amp;t=m"
                                    data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyU2VsaW1peWUlMkMlMjBUJUM0JUIxYmJpeWUlMjBDZCUyME5vJTNBMjUlMkMlMjAzNDY2OCUyMCVDMyU5Q3NrJUMzJUJDZGFyJTJGJUM0JUIwc3RhbmJ1bCUyMiUyQyUyMnpvb20lMjIlM0ExNSUyQyUyMnR5cGVJZCUyMiUzQSUyMnJvYWQlMjIlMkMlMjJsYW5nJTIyJTNBbnVsbCUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTdE"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>