<header class="u-clearfix u-header u-header" id="sec-2999">
    <div class="u-clearfix u-sheet u-sheet-1">

        <a href="#" class="u-image u-logo u-image-1">
            <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">

            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                           href="/HomePage/Index" style="padding: 10px 46px;">Ana Sayfa</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                           href="/OldDonations/Index" style="padding: 10px 46px;">Yapılan Bağışlar</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                           href="Bekleyen-Diğer-Bağışlar.html" style="padding: 10px 46px;">Bekleyen Diğer Bağışlar</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                           href="/PersonalInfo/Index" style="padding: 10px 46px;">Profil Bilgileri</a>
                    </li>
                </ul>
            </div>
    </div>
        </nav>
</header>