@model CreateInquiryFormDto
<!DOCTYPE html>
<html style="font-size: 16px;" lang="tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Bağışcı sorgu formu</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/Bağışcı-sorgu-formu.css" media="screen">
    
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">



    
    
</head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="tr">
    @await Html.PartialAsync("/Views/DefaultPartials/TopBarPartial.cshtml")


    <section class="u-clearfix u-section-1" id="sec-3c8a">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-align-left u-text u-text-default u-text-1">* ile işaretlenen sorular her bağış öncesinde teyit amaçlı tekrar kontrol edilmesi için karşınıza gelecektir </p>
            <div class="u-form u-form-checks-spacing-24 u-form-1">
                <form method="post" asp-controller="Inquiryform" asp-action="CreateForm" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" name="form-1" style="padding: 10px;">
                    @*soru1*@
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-1">
                        <label class="u-label u-label-1">Kendinizi sağlıklı ve iyi hissediyor musunuz ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-bfbe" type="checkbox" name="soru1[]" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="evet" style="--radius: 50px;">
                                <label class="u-field-label" for="field-bfbe" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-3127" type="checkbox" name="soru1[]" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="hayir" style="--radius: 50px;">
                                <label class="u-field-label" for="field-3127" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    @*soru2*@
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-2">
                        <label class="u-label u-label-2">Tehlikeli bir işte (ağır iş makinesi operatörlüğü , tren makinistliği , dağcılık , dalgıçlık , paraşütçülük , işlerigereği portatif merdiven veya şantiye iskelesine tırmanmak zorunda kalan kişiler vb.)  mi çalışıyorsunuz ? </label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-0ecf" type="checkbox" asp-for="DangerousWork" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="evet" style="--radius: 50px;">
                                <label class="u-field-label" for="field-0ecf" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-75d7" type="checkbox" asp-for="DangerousWork" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="hayir" style="--radius: 50px;">
                                <label class="u-field-label" for="field-75d7" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    @*soru3*@
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-3">
                        <label class="u-label u-label-3">Prostat büyümesi , sivilce , sedef hastalığı veya kellik için herhangi bir ilaç kullanıyor musunuz ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-f08b" type="checkbox" asp-for="Acne"  value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="evet" style="--radius: 50px;">
                                <label class="u-field-label" for="field-f08b" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-d61d" type="checkbox" asp-for="Acne"  value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="hayir" style="--radius: 50px;">
                                <label class="u-field-label" for="field-d61d" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    @*soru4*@
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-4">
                        <label class="u-label u-label-4">Herhangi bir enfeksiyon hastalığı için ilaç (antibiyotik , ateş düşürücü gibi ) aldınız mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-dc36" type="checkbox" asp-for="OtherMedicine" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-dc36" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-a46f" type="checkbox" asp-for="OtherMedicine" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-a46f" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>

                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-5">
                        <label class="u-label u-label-5">Son 5 gün içerisinde aspirin , herhangi bir ağrı kesici veya romatizma ilacı aldınız mı ? </label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-17ad" type="checkbox" asp-for="PainKiller" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-17ad" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-6f75" type="checkbox" asp-for="PainKiller" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-6f75" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>

                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-6">
                        <label class="u-label u-label-6">Allerjik reaksiyon geçirdiniz mi, buna yönelik tedavi aldınız mı ? </label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-e587" type="checkbox" asp-for="Allergic" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="evet" style="--radius: 50px;">
                                <label class="u-field-label" for="field-e587" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-2057" type="checkbox" asp-for="Allergic" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="hayir" style="--radius: 50px;">
                                <label class="u-field-label" for="field-2057" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-7">
                        <label class="u-label u-label-7">Son 1 hafta içerisinde ishal (diare) oldunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-1969" type="checkbox" asp-for="Diarrhea" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-1969" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-3fd3" type="checkbox" asp-for="Diarrhea" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-3fd3" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-8">
                        <label class="u-label u-label-8">Son 1 ay içerisinde herhangi bir aşı oldunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-35ff" type="checkbox" asp-for="Vaccine" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-35ff" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-4791" type="checkbox" asp-for="Vaccine" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-4791" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-9">
                        <label class="u-label u-label-9">Son 12 ay içinde diş tedavisi oldunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-56eb" type="checkbox" asp-for="Dental" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="evet" style="--radius: 50px;">
                                <label class="u-field-label" for="field-56eb" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-00c0" type="checkbox" asp-for="Dental" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" data-calc="hayir" style="--radius: 50px;">
                                <label class="u-field-label" for="field-00c0" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-10">
                        <label class="u-label u-label-10">Kronik (müzmin) bir hastalığınız var mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-c040" type="checkbox" asp-for="ChronicIllness" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-c040" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-8b37" type="checkbox" asp-for="ChronicIllness" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-8b37" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-11">
                        <label class="u-label u-label-11">Para veya uyuşturucu karşılığında cinsel ilişkiniz oldu mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-afd4" type="checkbox" asp-for="MoneyDrug" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-afd4" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-cf9a" type="checkbox" asp-for="MoneyDrug" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-cf9a" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-12">
                        <label class="u-label u-label-12">Frengi (sifiliz) veya bel soğukluğu (gonore) nedeni ile tedavi oldunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-1776" type="checkbox" asp-for="Syphilis" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-1776" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-0943" type="checkbox" asp-for="Syphilis" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-0943" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-13">
                        <label class="u-label u-label-13">AIDS hastalığınız var mı, kendinizde böyle bir hastalık olduğuna dair bir şüpheniz var mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-f606" type="checkbox" asp-for="AIDSSuspicion" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-f606" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-4992" type="checkbox" asp-for="AIDSSuspicion" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-4992" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-14">
                        <label class="u-label u-label-14">AID hastası olduğunu bildiğiniz biri ile cinsel ilişkiniz oldu mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-3938" type="checkbox" asp-for="AIDSRel" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-3938" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-6358" type="checkbox" asp-for="AIDSRel" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-6358" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-15">
                        <label class="u-label u-label-15">Kan ve kan ürünü alan, diyalize giren veya hemofili hastası biri ile cinsel ilişkiniz oldu mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-fdf5" type="checkbox" asp-for="Dialysis" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-fdf5" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-3346" type="checkbox" asp-for="Dialysis" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-3346" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-16">
                        <label class="u-label u-label-16">Hiç uyuşturucu kullandınız mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-2244" type="checkbox" asp-for="UsingDrugs" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-2244" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-402d" type="checkbox" asp-for="UsingDrugs" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-402d" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-17">
                        <label class="u-label u-label-17">İnsülin, büyüme hormonu, immünglobulin, tamoksifen kullandınız mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-dc25" type="checkbox" asp-for="Insulin" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-dc25" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-eaeb" type="checkbox" asp-for="Insulin" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-eaeb" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-18">
                        <label class="u-label u-label-18">Son 12 ay içerisinde ameliyat veya endoskopik muayene oldunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-41ab" type="checkbox" asp-for="Surgery" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-41ab" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-f68a" type="checkbox" asp-for="Surgery" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-f68a" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-19">
                        <label class="u-label u-label-19">Kalp-damar, akciğer, mide-barsak, böbrek hastalığınız var mı?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-49be" type="checkbox" asp-for="Cardiovascular" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-49be" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-4222" type="checkbox" asp-for="Cardiovascular" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-4222" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-20">
                        <label class="u-label u-label-20">Bugüne kadar hiç nöbet, sara (epilepsi) krizi veya felç geçirdiniz mi ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-8c66" type="checkbox" asp-for="Epilepsy" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-8c66" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-f902" type="checkbox" asp-for="Epilepsy" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-f902" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-21">
                        <label class="u-label u-label-21">Bugüne kadar hiç kanser tanısı aldınız mı, kanser tedavisi gördünüz mü ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-53b1" type="checkbox" asp-for="Cancer" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-53b1" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-621b" type="checkbox" asp-for="Cancer" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-621b" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-22">
                        <label class="u-label u-label-22">Şeker hastalığınız ya da yaygın romatizmal bir hastalığınız var mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-5d71" type="checkbox" asp-for="Diabetes"  value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-5d71" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-e575" type="checkbox" asp-for="Diabetes" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-e575" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-23">
                        <label class="u-label u-label-23">Kanamalı bir hastalık veya kan hastalığınız var mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-99f2" type="checkbox" asp-for="BloodDisease" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-99f2" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-65c4" type="checkbox" asp-for="BloodDisease" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-65c4" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-24">
                        <label class="u-label u-label-24">Sıtma (malarya), verem (tüberküloz), malta humması (peynir hastalığı, brucella), kemik iltihabı (osteomyelit) veya kara humma (kala-azar) geçirdiniz mi ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-7b02" type="checkbox"  value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-7b02" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-6510" type="checkbox"  value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-6510" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-25">
                        <label class="u-label u-label-25">Hepatit (sarılık) geçirdiniz mi, taşıyıcısı mısınız ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-0d25" type="checkbox" asp-for="Jaundice" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-0d25" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-7802" type="checkbox" asp-for="Jaundice" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-7802" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-26">
                        <label class="u-label u-label-26">Hepatit (sarılık) olan biriyle aynı evde yaşıyor musunuz veya cinsel ilişkiniz oldu mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-5163" type="checkbox" asp-for="JaundiceAtHome" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-5163" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-ff69" type="checkbox" asp-for="JaundiceAtHome" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-ff69" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-27">
                        <label class="u-label u-label-27">Toksoplazma geçirdiniz mi ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-013b" type="checkbox" asp-for="Toxoplasma" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-013b" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-5688" type="checkbox" asp-for="Toxoplasma" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-5688" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-28">
                        <label class="u-label u-label-28">Kamerun, Orta Afrika, Çad, Kongo, Ekvatoryal Gine, Gabon, Nijer, ya da Nijerya'da hiç bulundunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-8278" type="checkbox" asp-for="Cameroon" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-8278" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-4216" type="checkbox" asp-for="Cameroon" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-4216" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-29">
                        <label class="u-label u-label-29">1980-1996 arasında İngiltere, Kuzey İrlanda, Galler ya da İskoçya'da bulundunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-100e" type="checkbox" asp-for="Wales" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-100e" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-7f05" type="checkbox" asp-for="Wales" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-7f05" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-30">
                        <label class="u-label u-label-30">Son 3 yıl içerisinde yukarıdaki ülkeler dışında başka bir ülkede bulundunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-1c15" type="checkbox" asp-for="OtherCountries" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-1c15" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-cff6" type="checkbox" asp-for="OtherCountries"  value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-cff6" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-31">
                        <label class="u-label u-label-31">Ailenizde deli dana hastalığı (Creutzfeldt - Jacob Hastalığı) olan birisi oldu mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-63c3" type="checkbox" asp-for="CreutzfeldtJakob" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-63c3" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-b569" type="checkbox" asp-for="CreutzfeldtJakob" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-b569" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-32">
                        <label class="u-label u-label-32">Size dura mater (beyin zarı) veya kornea nakli yapıldı mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-85d6" type="checkbox" asp-for="Cornea" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-85d6" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-1475" type="checkbox" asp-for="Cornea" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-1475" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-33">
                        <label class="u-label u-label-33">Son 12 ay içerisinde size kan, doku, veya organ nakli yapıldı mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-24d9" type="checkbox" asp-for="OrganTransplant" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-24d9" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-8306" type="checkbox" asp-for="OrganTransplant" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-8306" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-34">
                        <label class="u-label u-label-34">Son 12 ay içerisinde bir başkasının kanı ile temasınız oldu mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-5edb" type="checkbox" asp-for="BloodContact" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-5edb" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-25c0" type="checkbox" asp-for="BloodContact" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-25c0" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-35">
                        <label class="u-label u-label-35">Son 12 ay içerisinde akupunktur, botoks, takı için cilt deldirme, saç ekimi vrya estetik müdahaleler yaptırdınız mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-a6e2" type="checkbox" asp-for="Botox" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-a6e2" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-35b4" type="checkbox" asp-for="Botox" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-35b4" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-36">
                        <label class="u-label u-label-36">Son 12 ay içerisinde dövme, hacamat yaptırdınız mı ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-a26f" type="checkbox" asp-for="TattooCupping" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-a26f" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-e5d0" type="checkbox" asp-for="TattooCupping" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-e5d0" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-37">
                        <label class="u-label u-label-37">Son 12 ay içerisinde hayvan ısırığı nedeni ile kuduz aşısı oldunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-f2d4" type="checkbox" asp-for="Rabies" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-f2d4" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-a74d" type="checkbox" asp-for="Rabies" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-a74d" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-38">
                        <label class="u-label u-label-38">Son 12 ay içerisinde üç günden fazla tutuklu kaldınız mı vyea üç günden fazla tutuklu kalan birisiyle cinsel ilişkiniz oldu mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-03f7" type="checkbox" asp-for="Arrest" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-03f7" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-03ad" type="checkbox" asp-for="Arrest" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-03ad" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-39">
                        <label class="u-label u-label-39">Erkekler için ; son 3 ay içinde kan bağışında bulundunuz mu ? Kadınlar için ; son 4 ay içinde kan bağışında bulundunuz mu ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-88a6" type="checkbox" asp-for="LastDonation" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-88a6" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-9d36" type="checkbox" asp-for="LastDonation" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-9d36" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-40">
                        <label class="u-label u-label-40"> Erkekler için ; bugüne dek hiç erkek erkeğe cinsel ilişkide bulundunuz mu ? Kadınlar için ; son 12 ayda hamilelik geçirdiniz mi veya düşük yaptınız mı ? Şuan hamile misiniz ?</label>
                        <div class="u-form-checkbox-group-wrapper">
                            <div class="u-input-row">
                                <input id="field-4ddb" type="checkbox" asp-for="Miscarriage" value="true" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="evet">
                                <label class="u-field-label" for="field-4ddb" style="font-size: 0.875rem;">Evet</label>
                            </div>
                            <div class="u-input-row">
                                <input id="field-be0c" type="checkbox" asp-for="Miscarriage" value="false" class="u-active-palette-1-base u-border-1 u-border-active-white u-border-black u-border-hover-white u-field-input u-radius" style="--radius: 50px;" data-calc="hayir">
                                <label class="u-field-label" for="field-be0c" style="font-size: 0.875rem;">Hayır</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="u-align-right u-form-group u-form-input-layout-horizontal u-form-submit u-label-top u-form-group-41">
                        <input type="submit" value="submit" class="u-form-control-hidden">
                        <a href="#" class="u-btn u-btn-submit u-button-style u-btn-1">Kaydet</a>
                    </div>
                </form>
            </div>
        </div>
    </section>


</body>
</html>