@model List<PreviousDonationDto>;

@foreach (var item in Model)
{
    <tr style="height: 88px;">
        <td class="u-align-center u-first-column u-table-cell u-table-cell-5">@item.DateandTime.ToString("dd/MM/yyyy HH:mm") </td>
        <td class="u-table-cell">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="#">
                @item.Hospital <br>
            </a>
        </td>
        <td class="u-table-cell u-table-cell-7">@item.DonationType</td>
        <td class="u-table-cell u-table-cell-8">@item.Recepient </td>
    </tr>
}