.u-section-1 .u-sheet-1 {
  min-height: 1342px;
}

.u-section-1 .u-form-1 {
  height: 742px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  --radio-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23478ac9'/%3e%3c/svg%3e");
  margin: 60px 65px 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  padding: 30px;
}

.u-section-1 .u-input-1 {
  height: 0;
  font-size: 1rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  padding: 30px;
}

.u-section-1 .u-input-2 {
  height: 0;
  font-size: 1rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  padding: 30px;
}

.u-section-1 .u-input-3 {
  height: 0;
  font-size: 1rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  padding: 30px;
}

.u-section-1 .u-input-4 {
  height: 0;
  font-size: 1rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  padding: 30px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  padding: 30px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  padding: 30px;
}

.u-section-1 .u-input-5 {
  height: 0;
  font-size: 1rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  padding: 30px;
}

.u-section-1 .u-input-6 {
  font-size: 1rem;
}

.u-section-1 .u-line-1 {
  height: 0;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  font-size: 0.9375rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  padding: 30px;
}

.u-section-1 .u-input-7 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  padding: 30px;
}

.u-section-1 .u-input-8 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  padding: 30px;
}

.u-section-1 .u-input-9 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  padding: 30px;
}

.u-section-1 .u-input-10 {
  font-size: 1rem;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-label-13 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  padding-top: 9px;
  padding-bottom: 11px;
}

.u-section-1 .u-text-2 {
  margin: -48px auto 0 79px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -36px 393px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-1 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-2 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-3 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-4 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-5 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-6 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-7 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-form-group-8 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-input-6 {
    height: 20px;
  }

  .u-section-1 .u-form-group-11 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-input-7 {
    height: 0;
  }

  .u-section-1 .u-form-group-12 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-input-8 {
    height: 0;
  }

  .u-section-1 .u-form-group-13 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-input-9 {
    height: 0;
  }

  .u-section-1 .u-form-group-14 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-input-10 {
    height: 0;
  }

  .u-section-1 .u-form-group-15 {
    min-height: 677px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-label-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-label-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2246px;
}